.header{
	background-color: #000000;
}
.box{
	display: flex;
	justify-content: space-between;
	padding:50px 30px;
	position: relative;
	background-color: white;
	
}
.change span{
	position: absolute;
	font-size: 28px;
	color: #000000;
	
}
.point{
	position: absolute;
	display: flex;
	left:48%;
	bottom: 5%;
}
.point li{
	width: 5px;
	list-style: none;
	height: 5px;
	background-color: #000000;
	border-radius: 100px;
	margin: 0 5px;
}
.change span:nth-child(1){
	top: 50%;
	left: 0;
}
.change span:nth-child(2){
	top: 50%;
	right: 0;
}
.box img{
	height: 43vh;
	max-width: 30%;
}
.p5{
	height: 100%;
	color: white;
	background-color: #000000;
}
.cont{
	font-size: 20px;
	background-color: #000000;
	 
}
h3{
	font-size: 35px;
	margin-top: 20px;
	padding-bottom: 20px;
	font-family: 'SegoePrint';
	text-align: center;
}
h4{
	font-size: 30px;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
h4 img{
	margin-right: 30px;
}
.left{
	width: 55%;
	padding-right: 5%;
}
.right{
	flex: 1;
	 
}
table{
	border: 2px solid #000;
	width: 100%;
	line-height: 2;
	margin-top: 20px;
}
.right p{
	text-align: right;
	margin-top: 100px;
}
th{
	text-align: left;
	text-align: center;
	width: 30%;
}
.bottom{
	 
	align-items: center;
	display: flex;
	padding: 0 30px;
	justify-content: space-between;
}
.a{
	text-align: right;
	padding-right: 15%;
}
.a a{
	
	color: white;
}
.bottom a{
	color: white;
	text-decoration: none;
}
.bottom button{
	background-color: #0000FF;
	color: white;
	border: none;
	padding: 10px 30px;
	margin-left: 60px;
	border-radius: 100px;
	font-size: 20px;
}
  @media screen and (max-width:750px) {
	  .l{
		  display: none;
	  }
	  .a{
		  font-size: 14px;
		  padding-bottom: 10px;
	  }
	  table{
		  font-size: 16px;
	  }
	  table img{
		  max-width: 30px;
		  max-height: 25px;
	  }
	 h3{
	 		  font-size: 25px;
	 		  margin-top: 0;
	 }
	  .bottom div{
		  display: flex;
		  width: 70%;
		  justify-content: space-between;
	  }
	  .bottom button{
		  font-size: 16px;
		  padding:5px 10px;
		  margin-left: 0;
		  white-space: nowrap;
	  }
	  .m.box{
		  padding:30px 10px;
	  }
	  .m.box img{
		  max-width: 100%;
		  height: auto;
	  }
	  .m.box>img{
		  width: 60%;
	  }
	  .m.box>div{
		  padding-left: 20px;
		  width: 40%;
	  }
	  .cont{
		  height: calc(100% - 100px);
		  display: flex;
		  justify-content: space-between;
		  flex-direction: column;
	  }
  }